In [363]:
# import pakcages
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.cross_validation import cross_val_score

%matplotlib inline

In [364]:
#import data
sample = pd.read_csv('bank.csv', sep = ";")
data = pd.read_csv('bank-additional-full.csv',sep=';')

In [365]:
# making sure data is imported correctly
sample.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [366]:
# making sure data is imported correctly
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

Question 1: . Use the file **bank.csv** to explore the dataset. Observe the features: Are they numbers? Are they strings? Are they binary? Are they continuous?

In [367]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 635.8+ KB

In [368]:
for col in sample.columns:
    print col
    print sample[col].unique()

age
[30 33 35 59 36 39 41 43 20 31 40 56 37 25 38 42 44 26 55 67 53 68 32 49 78
 23 52 34 61 45 48 57 54 63 51 29 50 27 60 28 21 58 22 46 24 77 75 47 70 65
 64 62 66 19 81 83 80 71 72 69 79 73 86 74 76 87 84]
job
['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'unknown']
marital
['married' 'single' 'divorced']
education
['primary' 'secondary' 'tertiary' 'unknown']
default
['no' 'yes']
balance
[ 1787  4789  1350 ...,  -333 -3313  1137]
housing
['no' 'yes']
loan
['no' 'yes']
contact
['cellular' 'unknown' 'telephone']
day
[19 11 16  3  5 23 14  6 17 20 13 30 29 27  7 18 12 21 26 22  2  4 15  8 28
  9  1 10 31 25 24]
month
['oct' 'may' 'apr' 'jun' 'feb' 'aug' 'jan' 'jul' 'nov' 'sep' 'mar' 'dec']
duration
[  79  220  185  199  226  141  341  151   57  313  273  113  328  261   89
  189  239  114  250  148   96  140  109  125  169  182  247  119  149   74
  897   81   40  958  354  150   97  132  765   16  609  106  365  205   11
  105   59  425  204  181 1018 1740   98  441  272  159  295  314  579  554
  323  227  134  223  155  130  630  164  268  380  154  221   67  367   87
  701  652   63  398  224  406   60  521  279  203  201  372  391  165  231
  291  233  473  736  337  553  345   65    9  259  371  280  243  435  258
    7  317   76  170  386   83   69  564  588  779  281 1877   51   32  176
  161  187   24   85  236   54   71  489   39  455   86  190   45  168  194
  103  333  102   92  213  289   77  324   84   10   35   82  676   80  549
  135  412  101  253  166   18  147   14   61  377  152  382  543  240   48
  471  285  301  768 1337  403  139  196  115   17   95  198  654  256  834
   20  178  111  186  297  210  112  222  195  123  145  124  216  483  690
  344  673  144  246  361  375 1097  180  373  230   58   88  487   29  484
  262  644  699   49   64  121  197  331  138  312  120  526  211   62  988
  451 1030 1484  445  383  605  330  171  442  772  249  357  271  783  472
  395   56  641  429  157  162  799 1370   22  215 1017  298  126    8  555
  270  339  342 1434   30  397  620    6  209  419  283  188  267  245 1065
  207  456  131   94  567  153   53  234  108  208  597  505  332  212  493
  681  287  202   37   72  325 1212  319  514  551  142  293  107  127 1816
  200  418  387  156   47  265   31   28  369  854   46  266  321   99  430
  264  118  343    5  722  748  523  421   15  502  193  347  468  388 1735
  172  117  587  501  282  110  104  378 1407  738   70  904  336  238  585
   68 1713  218  661  566  136  160   44  792   73   90  346  192  682  651
  405  350   36  389 3025  219  427  533   19  819  278  617   34  668   75
  146  356  251  352  184  568  260  447  426  174  284  428  237 1031  700
  590   43   27 1181  122  307  770  767  232  986   66  158  306  559  183
  631 1282 1199  244   55  290  385  133   91   25  275  632  100   41  446
  304  335  276   42  614  557 1663  510 1259  225  404 1015  761  464  206
  667  143  717   38  254  882  957  299  167  500  177  457  460 1028  315
  381  643  508  128  492  257  241  536  601 1168  277  364  229  402  175
  255  820  116  463  603  191 2087  754  303  288  891  558  228  353  296
  432 1130  305  274  860  420  756  968  408   13  763  316   50    4   78
  286  766  648  688   21  593  407  563   52  803  396  637  945 1178  506
  409  327  618  936  329  179  731  670  318  415  137  349  263  671  452
  163  586  650  610  747  252  883  684  686 1060  724  424  712  753 1081
  376  433  411 1083  757  524  653   93  503  217  475  340  242  530   23
  935  773  423  626  578  248  528  785  952 1174  915  937  129 1063  758
  574  847 1558  789 1441  322 1504  537  611   26   12  235  796 1126  697
  931 1034  362  410  570  633  659  302  727  214  173  635  540 1210  486
  646  326  414  716  449  580  399 1029  755  619  606  971  348  594 1275
  379 1032  393  808  923  413  541  602  762  360  310  311  638  355  300
  417  308  657  434  488 1309 1056  908  401  827  735  691  461  669 1473
 1386  294  910  550 1366 1532  955  513 1236  809  482 1164  674  709  436
  374  309  363  422  358  640  439  476  480  517  993   33  730  636  750
  334  868  351 1689  607  485 1021  732  577  733  788  863 1073  525  696
  535  370  465  338  956  546  470  836  544  443 1149  707 1451 1143  477
  450  467  292  806  560  759 1183  598  466  431  269  542  562  515 1165
  547  780  916  474  509  679 1472  965 1139  504  672  749  454  531  479
  384  973  728  656  998  320  615  612  664  394  877 1971 1258  599  655
 1994  743  924  929  491  719  565 1529  390 1467 1007  665  990  582  458
  775  497  698  702  520 1156  884 1521  359  527  994 1579  437 1225  865
  569 1011  814  984  392  595 1448  529 1006  622  494 1022 1044  781 1124
  400  516 1516  978  720  495  798  876  875  481  793 1117 1223 1101  744
 2769  561  715  639  538 1721 1608  725  519  490  907  680  977  959  693
 2029 1009  718  805  623  976  600  469 1010  634 1531  764  532  825  539
  816  821 1231  742 2456  721  777  548  830  645  723  746  869 1173  624
  518  815  857  921  627  800  366 1088  812  866 1151  873  592  663  576
 1476  951 1234 1263  660]
campaign
[ 1  4  2  5  3  6 18 10  9  7 12 14 13 24 11  8 29 32 16 22 15 30 25 21 17
 19 23 20 50 28 31 44]
pdays
[ -1 339 330 176 147 241 152 105 342 101   5  92  56 170 182 297 196 460
 137 367 145 169 207 266 288 168 345 436  90 183 146 335 347 119   7 271
 181  88 141 126  61 373 351 242  62  91 308 250 172 265  78  28  79   1
 188 167  89 164 462 209 321 254  94 364  96 356 149 363 275 325 341 260
 358  87 303  98 327 337 322 102  99 370  84 212  63  81 191 360 332  80
  85 247 150 175 382 261 336  58 206 112 199 133 208 253 135 278 140 298
 273 124 281 162 323 349 117   2 256 333 116 268 136 198 357 259 353 174
 371 205 246  69 315 110 461 184 270 127 187  64 130 346 100 352 808 113
 378 292 287 107 293 139 138 193 274  97 103 359 185 674 211 300 334 280
 479  95 262 362 225   3 366  60 190 368 122 343 131 365 299 115 316 180
 154 313 264 350  73 232 204 143 375 186 344 210 248 177 221 189 104 258
 305 171 120 317 178 386 118 404 374 282 179 284 227 291 173 871 238 294
 222 435 340 426 239  83 111 415 255 235 244  38 683 329  59 151 192 158
 338 388 165 348 197 295 109 484 326 369 397 414 319 474  93 249 272 355
 195  82 541 231 153 201 761 114 385 267 161 467  75 106 223 312 148 309
 283  86 166 160 450 500 311 123 159 687 224 361  74  76 286  77  57 219
 331 804 144 234]
previous
[ 0  4  1  3  2  5 20  7  6 10  9  8 18 19 12 13 11 14 15 24 17 22 23 25]
poutcome
['unknown' 'failure' 'other' 'success']
y
['no' 'yes']

Question 2: transform the features to numerical features

In [369]:
#need transform categorical strings into numerical values
col_list =['job','marital','education','default','housing','loan','contact','month','poutcome']
print col_list

['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

In [370]:
# create an array of only categorical values 
sample_categorical_values = np.array(sample[col_list])
sample_categorical_values

array([['unemployed', 'married', 'primary', ..., 'cellular', 'oct',
        'unknown'],
       ['services', 'married', 'secondary', ..., 'cellular', 'may',
        'failure'],
       ['management', 'single', 'tertiary', ..., 'cellular', 'apr',
        'failure'],
       ...,
       ['technician', 'married', 'secondary', ..., 'cellular', 'aug',
        'unknown'],
       ['blue-collar', 'married', 'secondary', ..., 'cellular', 'feb',
        'other'],
       ['entrepreneur', 'single', 'tertiary', ..., 'cellular', 'apr',
        'other']], dtype=object)

In [371]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
le = LabelEncoder()

# first convert strings to numerical values using LabelEncoder
sample_data = le.fit_transform(sample_categorical_values[:,0])
print sample_data

for i in range(1,sample_categorical_values.shape[1]):
        sample_data = np.column_stack((sample_data, le.fit_transform(sample_categorical_values[:,i])))

print sample_data

[10  7  4 ...,  9  1  2]
[[10  1  0 ...,  0 10  3]
 [ 7  1  1 ...,  0  8  0]
 [ 4  2  2 ...,  0  0  0]
 ...,
 [ 9  1  1 ...,  0  1  3]
 [ 1  1  1 ...,  0  3  1]
 [ 2  2  2 ...,  0  0  1]]

In [372]:
#double check numerical values and convert to float
sample_data[:5,:]
sample_cat_data = sample_data.astype(float)

In [373]:
# Use OneHotEncoder to convert data 
enc = OneHotEncoder()
sample_enc = enc.fit_transform(sample_cat_data)
#print out n_values
enc.n_values_

array([12,  3,  4,  2,  2,  2,  3, 12,  4])

In [374]:
enc.feature_indices_

array([ 0, 12, 15, 19, 21, 23, 25, 28, 40, 44])

In [375]:
#create a list of columns to help create a DF from np array
cols = [col_list[i] + '_' + str(j) for i in range(0,len(col_list)) for j in range(0,enc.n_values_[i]) ]
print cols
sample_cat_data_df = pd.DataFrame(sample_enc.toarray(),columns=cols)

['job_0', 'job_1', 'job_2', 'job_3', 'job_4', 'job_5', 'job_6', 'job_7', 'job_8', 'job_9', 'job_10', 'job_11', 'marital_0', 'marital_1', 'marital_2', 'education_0', 'education_1', 'education_2', 'education_3', 'default_0', 'default_1', 'housing_0', 'housing_1', 'loan_0', 'loan_1', 'contact_0', 'contact_1', 'contact_2', 'month_0', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'month_10', 'month_11', 'poutcome_0', 'poutcome_1', 'poutcome_2', 'poutcome_3']

In [376]:
# insert the columns back to sample df
sample[cols] = sample_cat_data_df[cols]

In [377]:
sample.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,month_6,month_7,month_8,month_9,month_10,month_11,poutcome_0,poutcome_1,poutcome_2,poutcome_3
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,...,0,0,0,0,1,0,0,0,0,1
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,...,0,0,1,0,0,0,1,0,0,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,...,0,0,0,0,0,0,1,0,0,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,...,1,0,0,0,0,0,0,0,0,1
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,...,0,0,1,0,0,0,0,0,0,1

In [378]:
# lastly, convert y into numerical values
sample['y'] = sample.y.map({'yes':1,'no':0})
print sample.y

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      1
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
4491    0
4492    0
4493    0
4494    1
4495    0
4496    0
4497    0
4498    0
4499    0
4500    0
4501    0
4502    0
4503    1
4504    1
4505    1
4506    0
4507    0
4508    0
4509    0
4510    0
4511    1
4512    0
4513    0
4514    0
4515    0
4516    0
4517    0
4518    0
4519    0
4520    0
Name: y, dtype: int64

In [380]:
X = sample.drop(col_list, axis =1)
X = X.drop('y', axis = 1)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4521 entries, 0 to 4520
Data columns (total 51 columns):
age            4521 non-null int64
balance        4521 non-null int64
day            4521 non-null int64
duration       4521 non-null int64
campaign       4521 non-null int64
pdays          4521 non-null int64
previous       4521 non-null int64
job_0          4521 non-null float64
job_1          4521 non-null float64
job_2          4521 non-null float64
job_3          4521 non-null float64
job_4          4521 non-null float64
job_5          4521 non-null float64
job_6          4521 non-null float64
job_7          4521 non-null float64
job_8          4521 non-null float64
job_9          4521 non-null float64
job_10         4521 non-null float64
job_11         4521 non-null float64
marital_0      4521 non-null float64
marital_1      4521 non-null float64
marital_2      4521 non-null float64
education_0    4521 non-null float64
education_1    4521 non-null float64
education_2    4521 non-null float64
education_3    4521 non-null float64
default_0      4521 non-null float64
default_1      4521 non-null float64
housing_0      4521 non-null float64
housing_1      4521 non-null float64
loan_0         4521 non-null float64
loan_1         4521 non-null float64
contact_0      4521 non-null float64
contact_1      4521 non-null float64
contact_2      4521 non-null float64
month_0        4521 non-null float64
month_1        4521 non-null float64
month_2        4521 non-null float64
month_3        4521 non-null float64
month_4        4521 non-null float64
month_5        4521 non-null float64
month_6        4521 non-null float64
month_7        4521 non-null float64
month_8        4521 non-null float64
month_9        4521 non-null float64
month_10       4521 non-null float64
month_11       4521 non-null float64
poutcome_0     4521 non-null float64
poutcome_1     4521 non-null float64
poutcome_2     4521 non-null float64
poutcome_3     4521 non-null float64
dtypes: float64(44), int64(7)
memory usage: 1.8 MB

In [381]:
X.columns

Index([u'age', u'balance', u'day', u'duration', u'campaign', u'pdays',
       u'previous', u'job_0', u'job_1', u'job_2', u'job_3', u'job_4', u'job_5',
       u'job_6', u'job_7', u'job_8', u'job_9', u'job_10', u'job_11',
       u'marital_0', u'marital_1', u'marital_2', u'education_0',
       u'education_1', u'education_2', u'education_3', u'default_0',
       u'default_1', u'housing_0', u'housing_1', u'loan_0', u'loan_1',
       u'contact_0', u'contact_1', u'contact_2', u'month_0', u'month_1',
       u'month_2', u'month_3', u'month_4', u'month_5', u'month_6', u'month_7',
       u'month_8', u'month_9', u'month_10', u'month_11', u'poutcome_0',
       u'poutcome_1', u'poutcome_2', u'poutcome_3'],
      dtype='object')

In [382]:
y = sample.y

Question 3: Build a decision tree model to predict whether a prospect will buy the product.

In [383]:
# fit a classification tree with max_depth=5 on all data
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(max_depth=5, random_state=1)
dtc.fit(X,y)

DecisionTreeClassifier(compute_importances=None, criterion='gini',
            max_depth=5, max_features=None, max_leaf_nodes=None,
            min_density=None, min_samples_leaf=1, min_samples_split=2,
            random_state=1, splitter='best')

 Question 4: Evaluate the accuracy of your decision tree model using cross validation.

In [384]:
from sklearn.cross_validation import cross_val_score

scores = cross_val_score(dtc, X, y, cv=10, scoring='accuracy')
print 'Decision tree accuracy: {}'.format(np.mean(scores))

Decision tree accuracy: 0.898256461349

In [385]:
# compute the feature importances
pd.DataFrame({'feature':feature_cols, 'importance':dtc.feature_importances_})

        feature  importance
0           age    0.008354
1       balance    0.005765
2           day    0.035276
3      duration    0.493317
4      campaign    0.008180
5         pdays    0.047047
6      previous    0.000000
7         job_0    0.000000
8         job_1    0.000000
9         job_2    0.000000
10        job_3    0.000000
11        job_4    0.000000
12        job_5    0.017723
13        job_6    0.000000
14        job_7    0.000000
15        job_8    0.000000
16        job_9    0.017102
17       job_10    0.000000
18       job_11    0.000000
19    marital_0    0.005018
20    marital_1    0.021170
21    marital_2    0.000000
22  education_0    0.000000
23  education_1    0.000000
24  education_2    0.016781
25  education_3    0.000000
26    default_0    0.000000
27    default_1    0.000000
28    housing_0    0.000000
29    housing_1    0.000000
30       loan_0    0.000000
31       loan_1    0.000000
32    contact_0    0.013393
33    contact_1    0.000000
34    contact_2    0.000000
35      month_0    0.005150
36      month_1    0.000000
37      month_2    0.000000
38      month_3    0.000000
39      month_4    0.000000
40      month_5    0.000000
41      month_6    0.000000
42      month_7    0.013882
43      month_8    0.010779
44      month_9    0.000000
45     month_10    0.047777
46     month_11    0.000000
47   poutcome_0    0.000000
48   poutcome_1    0.000000
49   poutcome_2    0.233287
50   poutcome_3    0.000000

In [386]:
#accurage is much lower with additional features, how about random forest and boost model?
# use cross-validation for random forest
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

rfc = RandomForestClassifier(max_depth=5, n_estimators=10, random_state=1)
scores = cross_val_score(rfc, X, y, cv=10, scoring='accuracy')
rfc.fit(X, y)
print 'Random forest accuracy: {}'.format(np.mean(scores))

abc = AdaBoostClassifier(n_estimators=10, random_state=1)
scores = cross_val_score(abc, X, y, cv=10, scoring='accuracy')
print 'AdaBoost accuracy: {}'.format(np.mean(scores))
abc.fit(X, y)

Random forest accuracy: 0.888520482916
AdaBoost accuracy: 0.900466408799

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=10, random_state=1)

Quesiton 5: Repeat the analysis and cross validation with the file **bank-additional-full.csv**. How does the performance of the model change (with the additional training examples and additional features)?

In [387]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.9+ MB

In [388]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [389]:
for col in data.columns:
    print col
    print data[col].unique()

age
[56 57 37 40 45 59 41 24 25 29 35 54 46 50 39 30 55 49 34 52 58 32 38 44 42
 60 53 47 51 48 33 31 43 36 28 27 26 22 23 20 21 61 19 18 70 66 76 67 73 88
 95 77 68 75 63 80 62 65 72 82 64 71 69 78 85 79 83 81 74 17 87 91 86 98 94
 84 92 89]
job
['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
marital
['married' 'single' 'divorced' 'unknown']
education
['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']
default
['no' 'unknown' 'yes']
housing
['no' 'yes' 'unknown']
loan
['no' 'yes' 'unknown']
contact
['telephone' 'cellular']
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']
day_of_week
['mon' 'tue' 'wed' 'thu' 'fri']
duration
[ 261  149  226 ..., 1246 1556 1868]
campaign
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 19 18 23 14 22 25 16 17 15 20 56 39
 35 42 28 26 27 32 21 24 29 31 30 41 37 40 33 34 43]
pdays
[999   6   4   3   5   1   0  10   7   8   9  11   2  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]
previous
[0 1 2 3 4 5 6 7]
poutcome
['nonexistent' 'failure' 'success']
emp.var.rate
[ 1.1  1.4 -0.1 -0.2 -1.8 -2.9 -3.4 -3.  -1.7 -1.1]
cons.price.idx
[ 93.994  94.465  93.918  93.444  93.798  93.2    92.756  92.843  93.075
  92.893  92.963  92.469  92.201  92.379  92.431  92.649  92.713  93.369
  93.749  93.876  94.055  94.215  94.027  94.199  94.601  94.767]
cons.conf.idx
[-36.4 -41.8 -42.7 -36.1 -40.4 -42.  -45.9 -50.  -47.1 -46.2 -40.8 -33.6
 -31.4 -29.8 -26.9 -30.1 -33.  -34.8 -34.6 -40.  -39.8 -40.3 -38.3 -37.5
 -49.5 -50.8]
euribor3m
[ 4.857  4.856  4.855  4.859  4.86   4.858  4.864  4.865  4.866  4.967
  4.961  4.959  4.958  4.96   4.962  4.955  4.947  4.956  4.966  4.963
  4.957  4.968  4.97   4.965  4.964  5.045  5.     4.936  4.921  4.918
  4.912  4.827  4.794  4.76   4.733  4.7    4.663  4.592  4.474  4.406
  4.343  4.286  4.245  4.223  4.191  4.153  4.12   4.076  4.021  3.901
  3.879  3.853  3.816  3.743  3.669  3.563  3.488  3.428  3.329  3.282
  3.053  1.811  1.799  1.778  1.757  1.726  1.703  1.687  1.663  1.65   1.64
  1.629  1.614  1.602  1.584  1.574  1.56   1.556  1.548  1.538  1.531
  1.52   1.51   1.498  1.483  1.479  1.466  1.453  1.445  1.435  1.423
  1.415  1.41   1.405  1.406  1.4    1.392  1.384  1.372  1.365  1.354
  1.344  1.334  1.327  1.313  1.299  1.291  1.281  1.266  1.25   1.244
  1.259  1.264  1.27   1.262  1.26   1.268  1.286  1.252  1.235  1.224
  1.215  1.206  1.099  1.085  1.072  1.059  1.048  1.044  1.029  1.018
  1.007  0.996  0.979  0.969  0.944  0.937  0.933  0.927  0.921  0.914
  0.908  0.903  0.899  0.884  0.883  0.881  0.879  0.873  0.869  0.861
  0.859  0.854  0.851  0.849  0.843  0.838  0.834  0.829  0.825  0.821
  0.819  0.813  0.809  0.803  0.797  0.788  0.781  0.778  0.773  0.771
  0.77   0.768  0.766  0.762  0.755  0.749  0.743  0.741  0.739  0.75
  0.753  0.754  0.752  0.744  0.74   0.742  0.737  0.735  0.733  0.73
  0.731  0.728  0.724  0.722  0.72   0.719  0.716  0.715  0.714  0.718
  0.721  0.717  0.712  0.71   0.709  0.708  0.706  0.707  0.7    0.655
  0.654  0.653  0.652  0.651  0.65   0.649  0.646  0.644  0.643  0.639
  0.637  0.635  0.636  0.634  0.638  0.64   0.642  0.645  0.659  0.663
  0.668  0.672  0.677  0.682  0.683  0.684  0.685  0.688  0.69   0.692
  0.695  0.697  0.699  0.701  0.702  0.704  0.711  0.713  0.723  0.727
  0.729  0.732  0.748  0.761  0.767  0.782  0.79   0.793  0.802  0.81
  0.822  0.827  0.835  0.84   0.846  0.87   0.876  0.885  0.889  0.893
  0.896  0.898  0.9    0.904  0.905  0.895  0.894  0.891  0.89   0.888
  0.886  0.882  0.88   0.878  0.877  0.942  0.953  0.956  0.959  0.965
  0.972  0.977  0.982  0.985  0.987  0.993  1.     1.008  1.016  1.025
  1.032  1.037  1.043  1.045  1.047  1.05   1.049  1.046  1.041  1.04
  1.039  1.035  1.03   1.031  1.028]
nr.employed
[ 5191.   5228.1  5195.8  5176.3  5099.1  5076.2  5017.5  5023.5  5008.7
  4991.6  4963.6]
y
['no' 'yes']

In [390]:
#need transform categorical strings into numerical values
data_cat_col =['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
print data_cat_col

['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

In [391]:
# create an array of only categorical values 
data_categorical_values = np.array(data[data_cat_col])
data_categorical_values

array([['housemaid', 'married', 'basic.4y', ..., 'may', 'mon',
        'nonexistent'],
       ['services', 'married', 'high.school', ..., 'may', 'mon',
        'nonexistent'],
       ['services', 'married', 'high.school', ..., 'may', 'mon',
        'nonexistent'],
       ...,
       ['retired', 'married', 'university.degree', ..., 'nov', 'fri',
        'nonexistent'],
       ['technician', 'married', 'professional.course', ..., 'nov', 'fri',
        'nonexistent'],
       ['retired', 'married', 'professional.course', ..., 'nov', 'fri',
        'failure']], dtype=object)

In [392]:
le = LabelEncoder()

# first convert strings to numerical values using LabelEncoder
data_le = le.fit_transform(data_categorical_values[:,0])
print data_le

for i in range(1,data_categorical_values.shape[1]):
        data_le = np.column_stack((data_le, le.fit_transform(data_categorical_values[:,i])))

print data_le

[3 7 7 ..., 5 9 5]
[[3 1 0 ..., 6 1 1]
 [7 1 3 ..., 6 1 1]
 [7 1 3 ..., 6 1 1]
 ...,
 [5 1 6 ..., 7 0 1]
 [9 1 5 ..., 7 0 1]
 [5 1 5 ..., 7 0 0]]

In [393]:
data_cat = data_le.astype(float)
# Use OneHotEncoder to convert data 
enc = OneHotEncoder()
data_enc = enc.fit_transform(data_cat)
#print out n_values
enc.n_values_

array([12,  4,  8,  3,  3,  3,  2, 10,  5,  3])

In [394]:
#create a list of columns to help create a DF from np array
cols = [data_cat_col[i] + '_' + str(j) for i in range(0,len(data_cat_col)) for j in range(0,enc.n_values_[i]) ]
print cols
data_cat_df = pd.DataFrame(data_enc.toarray(),columns=cols)

['job_0', 'job_1', 'job_2', 'job_3', 'job_4', 'job_5', 'job_6', 'job_7', 'job_8', 'job_9', 'job_10', 'job_11', 'marital_0', 'marital_1', 'marital_2', 'marital_3', 'education_0', 'education_1', 'education_2', 'education_3', 'education_4', 'education_5', 'education_6', 'education_7', 'default_0', 'default_1', 'default_2', 'housing_0', 'housing_1', 'housing_2', 'loan_0', 'loan_1', 'loan_2', 'contact_0', 'contact_1', 'month_0', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'day_of_week_0', 'day_of_week_1', 'day_of_week_2', 'day_of_week_3', 'day_of_week_4', 'poutcome_0', 'poutcome_1', 'poutcome_2']

In [395]:
data_cat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41188 entries, 0 to 41187
Data columns (total 53 columns):
job_0            41188 non-null float64
job_1            41188 non-null float64
job_2            41188 non-null float64
job_3            41188 non-null float64
job_4            41188 non-null float64
job_5            41188 non-null float64
job_6            41188 non-null float64
job_7            41188 non-null float64
job_8            41188 non-null float64
job_9            41188 non-null float64
job_10           41188 non-null float64
job_11           41188 non-null float64
marital_0        41188 non-null float64
marital_1        41188 non-null float64
marital_2        41188 non-null float64
marital_3        41188 non-null float64
education_0      41188 non-null float64
education_1      41188 non-null float64
education_2      41188 non-null float64
education_3      41188 non-null float64
education_4      41188 non-null float64
education_5      41188 non-null float64
education_6      41188 non-null float64
education_7      41188 non-null float64
default_0        41188 non-null float64
default_1        41188 non-null float64
default_2        41188 non-null float64
housing_0        41188 non-null float64
housing_1        41188 non-null float64
housing_2        41188 non-null float64
loan_0           41188 non-null float64
loan_1           41188 non-null float64
loan_2           41188 non-null float64
contact_0        41188 non-null float64
contact_1        41188 non-null float64
month_0          41188 non-null float64
month_1          41188 non-null float64
month_2          41188 non-null float64
month_3          41188 non-null float64
month_4          41188 non-null float64
month_5          41188 non-null float64
month_6          41188 non-null float64
month_7          41188 non-null float64
month_8          41188 non-null float64
month_9          41188 non-null float64
day_of_week_0    41188 non-null float64
day_of_week_1    41188 non-null float64
day_of_week_2    41188 non-null float64
day_of_week_3    41188 non-null float64
day_of_week_4    41188 non-null float64
poutcome_0       41188 non-null float64
poutcome_1       41188 non-null float64
poutcome_2       41188 non-null float64
dtypes: float64(53)
memory usage: 17.0 MB

In [396]:
# insert the columns back to sample df
data[cols] = data_cat_df[cols]

In [397]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,month_8,month_9,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,poutcome_0,poutcome_1,poutcome_2
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,0,0,0,1,0,0,0,0,1,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,0,0,0,1,0,0,0,0,1,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,0,0,0,1,0,0,0,0,1,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,0,0,0,1,0,0,0,0,1,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,0,0,0,1,0,0,0,0,1,0

In [398]:
# lastly, convert y into numerical values
data['y'] = data.y.map({'yes':1,'no':0})
print data.y

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
41158    1
41159    1
41160    1
41161    0
41162    0
41163    1
41164    1
41165    1
41166    1
41167    0
41168    0
41169    0
41170    0
41171    1
41172    1
41173    1
41174    1
41175    0
41176    0
41177    0
41178    1
41179    0
41180    0
41181    1
41182    0
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, dtype: int64

In [404]:
y = data['y'] 
y

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
41158    1
41159    1
41160    1
41161    0
41162    0
41163    1
41164    1
41165    1
41166    1
41167    0
41168    0
41169    0
41170    0
41171    1
41172    1
41173    1
41174    1
41175    0
41176    0
41177    0
41178    1
41179    0
41180    0
41181    1
41182    0
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, dtype: int64

In [408]:
X = data.drop(data_cat_col, axis =1)
X = X.drop('y', axis=1)

In [409]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41188 entries, 0 to 41187
Data columns (total 63 columns):
age               41188 non-null int64
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
job_0             41188 non-null float64
job_1             41188 non-null float64
job_2             41188 non-null float64
job_3             41188 non-null float64
job_4             41188 non-null float64
job_5             41188 non-null float64
job_6             41188 non-null float64
job_7             41188 non-null float64
job_8             41188 non-null float64
job_9             41188 non-null float64
job_10            41188 non-null float64
job_11            41188 non-null float64
marital_0         41188 non-null float64
marital_1         41188 non-null float64
marital_2         41188 non-null float64
marital_3         41188 non-null float64
education_0       41188 non-null float64
education_1       41188 non-null float64
education_2       41188 non-null float64
education_3       41188 non-null float64
education_4       41188 non-null float64
education_5       41188 non-null float64
education_6       41188 non-null float64
education_7       41188 non-null float64
default_0         41188 non-null float64
default_1         41188 non-null float64
default_2         41188 non-null float64
housing_0         41188 non-null float64
housing_1         41188 non-null float64
housing_2         41188 non-null float64
loan_0            41188 non-null float64
loan_1            41188 non-null float64
loan_2            41188 non-null float64
contact_0         41188 non-null float64
contact_1         41188 non-null float64
month_0           41188 non-null float64
month_1           41188 non-null float64
month_2           41188 non-null float64
month_3           41188 non-null float64
month_4           41188 non-null float64
month_5           41188 non-null float64
month_6           41188 non-null float64
month_7           41188 non-null float64
month_8           41188 non-null float64
month_9           41188 non-null float64
day_of_week_0     41188 non-null float64
day_of_week_1     41188 non-null float64
day_of_week_2     41188 non-null float64
day_of_week_3     41188 non-null float64
day_of_week_4     41188 non-null float64
poutcome_0        41188 non-null float64
poutcome_1        41188 non-null float64
poutcome_2        41188 non-null float64
dtypes: float64(58), int64(5)
memory usage: 20.1 MB

In [410]:
# fit a classification tree with max_depth=4 on all data
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(max_depth=4, random_state=1)
dtc.fit(X,y)

DecisionTreeClassifier(compute_importances=None, criterion='gini',
            max_depth=4, max_features=None, max_leaf_nodes=None,
            min_density=None, min_samples_leaf=1, min_samples_split=2,
            random_state=1, splitter='best')

In [411]:
from sklearn.cross_validation import cross_val_score

scores = cross_val_score(dtc, X, y, cv=10, scoring='accuracy')
print 'Decision tree accuracy: {}'.format(np.mean(scores))

Decision tree accuracy: 0.76613723159

In [412]:
#accurage is much lower with additional features, how about random forest and boost model?
# use cross-validation for random forest
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

rfc = RandomForestClassifier(max_depth=5, n_estimators=10, random_state=1)
scores = cross_val_score(rfc, X, y, cv=10, scoring='accuracy')
rfc.fit(X, y)
print 'Random forest accuracy: {}'.format(np.mean(scores))

abc = AdaBoostClassifier(n_estimators=10, random_state=1)
scores = cross_val_score(abc, X, y, cv=10, scoring='accuracy')
print 'AdaBoost accuracy: {}'.format(np.mean(scores))
abc.fit(X, y)

Random forest accuracy: 0.766572845416
AdaBoost accuracy: 0.802384123327

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=10, random_state=1)

In [ ]:
# it's important to do feature reduction upfront:)